<div class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>All About Experience</h4>
    <p>I am a budding Developer excited to learn all about the one thing that makes the digital world function, CODE. This Blog will serve as a trail of my progess as a developer as well as a reference for how I implemented code.</p>
  </div>


  <%= source_helper("alert alert-info blog-sidebar-source") %>
  

  <div class="sidebar-module">
  <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Mazlgoth" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/benjamin-schwind-4b8120149/" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>