


<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>I am a biggining developer with a facination as to how programs and digital data function, 
		how to use it, and how to make it better.</p>
	</div>
</div>


