<style>
.pagination{padding:.3em;margin:.3em; font: 0.8em 'Ultra',clean,serif;}
.pagination a{padding:.1em .3em;margin:.2em;border:1px solid #2626B5;text-decoration:none;color:#2626B5;background-color: #00ADBD;border-radius: 3px;}
.pagination a:hover,.pagination a:active{border:1px solid #2626B5;color:#DBAD23;background-color: #2626B5;border-radius: 3px;}
.pagination span.current{padding:.1em .3em;margin:.2em;border:1px solid #2626B5;font-weight:bold;background-color:#00ADBD;color:#2626B5;border-radius: 3px;}
.pagination span.disabled{padding:.1em .3em;margin:.2em;border:1px solid #2626B5;color:#2626B5;background-color:#00ADBD;border-radius: 3px;}
</style>
<%= paginator.render do -%>
<div class="pagination"><%= prev_page_tag -%><%= next_page_tag -%></div>
<% end -%>
